/* I just love Stylus so much */
.sidenav
    height 100vh
    list-style none
    display flex
    flex-direction column
    li
        background #fff
    a
        display block
        padding 20px
        color #fff
        position relative
        background #1F2937
    .active
        background #1F2937
        position relative
        &:before
            content ''
            position absolute
            width 10px
            height 10px
            background #fff
            top -10px
            right 0
        a
            background #fff
            color #000
            border-radius 10px 0 0 10px
            &:before
                content ''
                position absolute
                background #1F2937
                border-radius 10px
                width 20px
                height 20px
                top -20px
                right 0
        + li a
            border-top-right-radius 10px